*
{
    margin:0px;
    padding: 0px;
}
body{
    background-color:03051E;
}
.wrapper
{
 padding:100px 30px 50px;
 text-align: center;
}
img
{
    width:100%;
}
.content
{
  text-align: center;
  background-color:202040;
  color:white;
}
.content h1{
   font-family: Arial, Helvetica, sans-serif;
   line-height:50px;
   font-size:40px;
   padding-top:80px;

}
.content p{
    font-family: Arial, Helvetica, sans-serif;
    line-height:50px;
    padding-top:20px;
    padding-bottom:40px;
    font-size:15px;
    color:6B778D;
}
span{
    display: inline;
    color: 6A097D;
}
.list
{
    list-style-type: none;
    padding:20px;
    font-family: Arial, Helvetica, sans-serif;
}
#up
{
    font-family: Arial, Helvetica, sans-serif;
}
#down
{
    font-size:10px;
    padding:20px;
}
@media only screen and (min-width:1000px)
{
    body
    {
 display: flex;
justify-content: center;
align-items: center;
    }
    .wrapper
{
 padding:0px 0px 0px;
 width: 1000px;
 justify-content: center;
}
img
{
    float: right;
    width:50%;
}
.content
{
  float: left;
  width:50%;
  
}
.content h1{
    font-size:30px;
    line-height:40px;
    padding-top:40px;
    padding-bottom:20px;
 }
 .content p{
     line-height:20px;
    width:300px;
    padding-bottom:50px;
    text-align: center;
    padding-left:20%;
}
.list
{
    padding:10px;
    float:left;
    transform: translateX(90px);
    display: inline;
    padding-bottom:81px;
}
#down
{
    padding:10px;
    color:6B778D;
}
}